---
import Layout from '../layouts/Layout.astro'
import '../styles/global.css'
---

<title>soren's refsheet</title>
<meta property="og:title" content="soren's refsheet" />
<meta property="og:type" content="profile" />
<meta property="og:url" content="https://soren.rocks/refs" />
<meta property="og:image" content="https://soren.rocks/sorenrocks_ref.png" />

<Layout>
  <div
    class="text-zinc-200 flex flex-col justify-center items-center h-screen bg-gradient-to-br from-orange-600 to-yellow-500"
  >
    <div class="w-5/6 lg:w-3/4 min-w-96">
      <img
        src="/sorenrocks_ref.png"
        alt="soren's reference sheet"
        class="rounded-xl shadow-lg"
        style="background-image: url('/sorenrocks_ref_low.jpg'); background-size: cover; background-position: center;"
      />
      <a
        href="/sorenrocks_ref.png"
        download="sorenrocks_ref.png"
        class="mt-2 flex w-fit gap-2 px-4 py-2 bg-zinc-800 text-zinc-200 rounded hover:bg-zinc-700 transition-colors duration-300"
      >
        <img src="/download.svg" alt="" class="pointer-events-none" />
        <h1 class="text-xl font-semibold">download refsheet</h1>
      </a>
    </div>
  </div>
</Layout>
