---
import SocialButton from './SocialButton.astro'

const socials = {
  bluesky: '/bsky',
  discord: '/discord',
  github: '/github',
  telegram: '/telegram',
  twitter: '/twitter',
}
---

<div
  class="text-zinc-200 flex flex-col justify-center items-center h-screen bg-gradient-to-br from-orange-600 to-yellow-500 select-none pb-5"
>
  <h1 class="text-6xl font-bold">hi! i'm soren</h1>
  <ul class="flex flex-row gap-4 mt-2">
    {
      Object.entries(socials).map(([key, href]) => (
        <li>
          <SocialButton icon={key} href={href} />
        </li>
      ))
    }
  </ul>

  <div class="absolute bottom-0 right-0 w-28 overflow-hidden">
    <div id="half-soren" class="transition-transform duration-500 ease-in-out hidden">
      <img src="/half_soren.png" alt="soren's half?" class="rounded-tl-xl" />
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js"></script>
    <script type="module">
      let sorenX = 0
      let sorenY = 0

      let honeyX = 0
      let honeyY = 0
      let honeyTimer = 0

      const half = document.getElementById('half-soren')
      half.style.transform = 'translateY(100%)' // start hidden

      const socket = io('https://kissws.soren.rocks')

      function updateHalf() {
        half.style.display = 'block'
        const { screenX, screenY, innerWidth, innerHeight } = window

        sorenX = screenX + innerWidth
        sorenY = screenY + innerHeight

        if (socket.connected) socket.emit('soren-call', { x: sorenX, y: sorenY })

        const canSee = Math.abs(sorenX - honeyX) < 40 && Math.abs(sorenY - honeyY) < 50
        const canHear = honeyTimer > 0
        honeyTimer -= 1

        if (canSee && canHear) {
          half.style.transform = 'translateY(0%)' // kiss!
        } else if (canHear) {
          half.style.transform = 'translateY(35%)' // peeking
        } else {
          half.style.transform = 'translateY(100%)' // hidden
        }
      }

      setInterval(updateHalf, 500)

      socket.on('honey-call', data => {
        honeyTimer = 3 // reset timer
        honeyX = data.x
        honeyY = data.y
      })
    </script>
  </div>
</div>
