---
import '@fontsource-variable/roboto-slab'
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>soren</title>
  </head>
  <body>
    <slot />
  </body>
</html>
